<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<ul class="navbar">
    <li class="logo-space"><a href="/">CLIMBING</a></li>

    <li><a href="/community">커뮤니티</a></li>
    <li><a href="/news">랭킹</a></li>
    <li><a href="/contact">테스트1</a></li>
    <li><a href="/contact">테스트2</a></li>
    <li style="float:right"><a href="/login">로그인</a></li>
</ul>

<div class="content-padding">
    <h2>메인 페이지</h2>
</div>
</body>
</html>