<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <select id="getList" resultType="com.climbing.climbing_web.dto.BoardDTO">
        SELECT
            p.postid,
            p.postname,
            p.postdetail,
            p.member_id,
            m.name AS writerName
        FROM post p
        JOIN member_table m ON p.member_id = m.member_id
        ORDER BY p.postid DESC
    </select>

    <select id="getMyPagePosts" parameterType="String" resultType="com.climbing.climbing_web.dto.BoardDTO">
        SELECT
        p.postid,
        p.postname,
        p.postdetail,
        p.member_id,
        m.name AS writerName
        FROM post p
        JOIN member_table m ON p.member_id = m.member_id
        WHERE p.member_id = #{member_id}  ORDER BY p.postid DESC
    </select>

    <select id="getLatest5Posts" resultType="com.climbing.climbing_web.dto.BoardDTO">
        SELECT
            p.postid,
            p.postname,
            p.postdetail,
            p.member_id,
            m.name AS writerName
        FROM post p
        JOIN member_table m ON p.member_id = m.member_id
        ORDER BY p.postid DESC
        LIMIT 5;
    </select>

    <insert id="save" parameterType="com.climbing.climbing_web.dto.BoardDTO"
            useGeneratedKeys="true"
            keyProperty="postid"
            keyColumn="postid">

        INSERT INTO post (
                postname,
                postdetail,
                member_id)
        VALUES (
                #{postname},
                #{postdetail},
                #{member_id})
    </insert>

    <select id="detail" parameterType="int" resultType="board">
        SELECT  p.postid,
                p.postname,
                p.postdetail,
                p.member_id,
                m.name AS writerName
        FROM   post p
        JOIN member_table m ON p.member_id = m.member_id
        WHERE  postid = #{id}
    </select>

    <update id="update" parameterType="com.climbing.climbing_web.dto.BoardDTO">
        UPDATE post
        SET
            postname = #{postname},
            postdetail = #{postdetail}
        WHERE postid = #{postid}
        AND member_id = #{member_id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM post
        WHERE postid = #{id}
    </delete>
</mapper>